.drawer {
  background: #d8dcd6;
  width: 0px;
  transition: width 0.7s;
  padding-top: 20px;
}

.opened {
  width: 240px;
}

.cat-item {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px; 
    text-transform: capitalize;
}

.cat-item:hover {
    cursor: pointer;
  }
  