.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #000133;
  }
  .content {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

 